@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geneva&display=swap");

body{
  font-family: 'Ubuntu';
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  background-color: #2A2850;
  color: #ffffff;
}

.container-fluid {
  max-width: 1440px;
  padding-bottom: 0;
  padding-top: 0;
  padding-right: 0;
}  
.lh-1-5{
  line-height: 1.5;
}
h1 {
  font-family: Ubuntu;
  font-size: 2.5rem;
}

.big-text{
  font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
width: 343px;
/* height: 96px; */
letter-spacing: 1px;
color: #2A2850;
/* margin-bottom: 20px; */
}

.small-text {
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: 1px;
color: #2A2850;
}

.title-text{
  font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 32px;
/* identical to box height, or 80% */

letter-spacing: 1px;

color: #FFFFFF;
}
.nav-brand-name{
font-family: Geneva;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
display: inline-block;
}

.brand-logo{
  height: 46px;
  left: 150px;
  top: 33px;
}

.tagline{
   font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1px;
}

input::placeholder {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.5;
}

.email-input {
  background: #FFFFFF;
  border-radius: 10px;
}

.subscribe-btn {
  width: 149px;
  background: #B6B3FF;
  border-radius: 10px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  }

.timer-box {
width: 98px;
height: 100px;
/* margin-right: 40px; */
border-radius: 5px;
background: #C4C4C4;
}

.timer-text {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
letter-spacing: 1px;
text-transform: capitalize;
color: #000000 !important;
}

.timer {
  /* margin-right: 40px; */
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.5;
}

.why-mydaypal {
  background-color:#F0EBEB;
  color:#2A2850
}

.screenhots {
  color:#F0EBEB;
  background-color;:#2A2850
}